body {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: left;
  align-items: start;
  min-height: 100vh;
  background: #f8f8f8;
  margin: 0;
}
.form {
  padding: 30px 40px;
  border-radius: 12px;
  background-color: #fff;
  margin: 50px;
  box-shadow: 0 4px 12px rgb(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
input[type='number'] {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 380px;
  height: 40px;
  stroke: #808080;
}
input[type='number']:hover {
  border: 1px solid #000;
}
input[type='number']:focus {
  border: 1px solid #4e75ff;
}
fieldset {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  line-height: 1.5;
  width: 360px;
  height: 64px;
  margin-top: 16px;
  margin-bottom: 24px;
}
fieldset label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 400;
}
input[type='radio'] {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 104px;
  height: 32px;
  cursor: pointer;
}
input[type='radio']:focus {
  accent-color: #4e75ff;
}
button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border: none;
}
button:hover {
  background: #6c8cff;
  transform: scale(1.02);
}

form fieldset {
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  line-height: 1.5;
  color: #2e2f42;
  width: 360px;
  height: 64px;
  margin-top: 16px;
  margin-bottom: 24px;
}
